<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenido a <%= title %></p>
    <h1> En esta parte esta guardado la parte del Crud</h1>
    <h1> Sebastian Ramirez </h1>
    <h1> Paz </h1>	  
    <img src="/images/2878aa5.jpg">	      
  </body>
</html>
